<nav
  class="navbar navbar-expand-lg navbar-dark px-3 bg-success text-white d-flex align-items-center"
>
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <img
      src="../assets/img/traffic-light-30625.png"
      alt="logo"
      height="40"
      class="me-2"
    />
    {{ title }}
  </a>

  <!-- Search Box -->
  <div class="flex-grow-1 px-3">
    <input
      type="text"
      class="form-control"
      placeholder="Location, Name or IP-Address"
      [(ngModel)]="searchText"
      (input)="onSearchChange(searchText)"
    />
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/TrafficSignal"
          routerLinkActive="active"
        >
          Traffic Signals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mapview" routerLinkActive="active"
          >Map View</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>
