<nav
  class="navbar navbar-expand-lg navbar-dark bg-success px-3 text-white d-flex align-items-center"
>
  <a class="navbar-brand d-flex align-items-center" routerLink="/">
    <img
      src="assets/img/traffic-light-30625.png"
      alt="logo"
      height="40"
      class="me-2"
    />
    {{ title }}
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/traffic-signal"
          routerLinkActive="active"
        >
          Traffic Signals
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mapview" routerLinkActive="active">
          Map View
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/traffic-point-config"
          routerLinkActive="active"
        >
          Traffic Config
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map" routerLinkActive="active">
          Green Way
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>
